body {
    margin: auto;
    padding: 0;
    text-align: center;
    background-color: #ffa9dd;
    font-family: 'Roboto', sans-serif;
}

.top {
    background-color: rgb(255, 0, 144);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-nav {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.primary-nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 1.3em;
    text-align: center;
    transition: font-weight 0.2s;
}

.primary-nav a:hover {
    font-weight: bold;
}
.naslov-img {
    width: 100px; /* Prilagodite veličinu slike */
    height: 100px; /* Prilagodite veličinu slike */
}

.naslov-img-left {
    margin-right: 10px; /* Razmak između slike i teksta */
}

.naslov-img-right {
    margin-left: 10px; /* Razmak između teksta i slike */
}

.travel-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 20px;
    background: #20272E;
    color: #ffa9dd;
    padding: 20px;
    border-radius: 10px;
}

.travel-info h2 {
    color: rgb(255, 0, 144);
    font-size: 32px;
    margin-bottom: 20px;
}

.travel-info .info-item {
    margin-bottom: 20px;
    text-align: center;
}

.travel-info .info-item a {
    display: block;
    transition: transform 0.2s;
}

.travel-info .info-item a:hover {
    transform: scale(1.1);
}

.travel-info .info-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.travel-info .info-item p {
    margin-top: 10px;
    font-size: 18px;
}

.download-button {
    background-color: #000000;
    color: #ffa9dd;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
}

.download-button:hover {
    background-color: #323232;
    transform: scale(1.1);
    transition: transform 0.2s;
}